{% extends 'base.html.twig' %}

{% block title %}Activités Newsport Association{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper list">
    <h1>Nos activités sportives</h1>

   {% for activity in activities %}
		<div>
			<h2>{{ loop.index}} / {{activity.name}} </h2>
				
			<p>{{activity.description}}</p>

			<p>
				<div class="btn-r">
                    <a class="register" href="{{path('player_new')}}">S'inscrire</a>
                </div>
			</p>
			
		</div>

		{% else %}
		aucune activité trouvée.

	{% endfor %}
	<a href="{{path('home_index')}}">Retour à l'accueil</a>
</div>
{% endblock %}
