{% extends "base.html.twig" %}
{% block title %}Activité {{ activity.name }}{% endblock %}

{% block body %}
<div>
    <div class="media-body">
        <h1 class="mt-0">{{ activity.name }}</h1>
        <p>{{ activity.description }}</p>
    </div>
    <h2>Catégories de {{ activity.name}}</h2>
            <ul>
           
                {% for category in activity.category %}
                    <li>
                        {{ category.name }}
                    </li>

                {% endfor %}
            </ul>
</div>
    <strong>Joueurs inscrits :</strong>
    <ul>
        {% for player in activity.player %}
            <li>{{ player.firstname }} {{ player.lastname }}</li>
        {% else %}
            <li>Aucun joueur pour cette activité</li>
        {% endfor %}
    </ul>

<a href="{{ path('home_index')}}">
    Retour à l'accueil
</a>

{% endblock %}