<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Connectez-vous avec nous sur les réseaux sociaux:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"><img src="{{ asset('build/images/facebook.6d1b374e.png') }}" alt="logo" width="30" height="30"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"><img src="{{ asset('build/images/twitter.e3caac85.png') }}" alt="logo" width="30" height="30"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"><img src="{{ asset('build/images/google.79683a9d.png') }}" alt="logo" width="30" height="30"></i>
      </a>
      <a href="" class="me-4 text-reset">
       <i class="fab fa-instagram"><img src="{{ asset('build/images/instagram.4f315f89.png') }}" alt="logo" width="30" height="30"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"><img src="{{ asset('build/images/linkedin.546dc9c2.png') }}" alt="logo" width="30" height="30"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <a href="{{ path('home_index')}}">
                <img src="{{ asset('build/images/logo.1f8a644a.png') }}" alt="logo" width="150" height="120">
            </a>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>MA2FO Association
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            A PROPOS
          </h6>
          <p>
            <a href="#!" class="text-reset">Notre Association</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Newsletters</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Plan du site</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nous contacter</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mentions légales
          </h6>
          <p>
            <a href="#!" class="text-reset">Protection des données</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cookies</a>
          </p>
          <p>
            <a href="#!" class="text-reset">CGU du site</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Droit à l'oubli</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Lyon, rue Delandine 69002, France</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contact@ma2fo.fr
          </p>
          <p><i class="fas fa-phone me-3"></i> + 33 478 567 575</p>
          <p><i class="fas fa-print me-3"></i> + 33 478 567 576</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MA2FO Association</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->